@media screen and (min-device-width: 320px) and (max-device-width: 480px) { 
    /* STYLES HERE */
    .hero-form-bg{
        margin-left: 0px;
        width: 100%;
    }
    .hero-heading-div{
        margin-top: 0px;
        margin-left: 0px;
        height: auto; 
        flex-direction: column;
        display: flex;
        /* text-align: center; */
        align-items: center;
        justify-content: unset;
    }
    .hero-heading2{
        font-size: 35px;
        margin-top: 15px;
        margin-bottom: -8px;
    }
    .hero-heading3{
        font-size: 78px;
    }
    .hero-heading4{
        font-size: 35px;
    }
    .padding{
        padding: 20px 20px 0px 20px;
    }
    .form-btn{
        margin-top: 20px;
    }
    .input-field {
        width: 49% !important;
    }
    .form-imput-margin {
        margin-left: 2%;
    }
    .yellow-section{
        padding: 0px 0px 10px 0px;
    }
    .main-heading h2{
        line-height: 1.1;
    font-size: 24px;
    }
    .border-text{
        font-size: 15px;
        font-weight: 600;
    }
    .yellow-button{
        padding: 14px 26px;
    }
    .forecast-text{
        font-size: 18px;
        text-align: center;
        padding-right: 0px;
    }
    .footer-container{
        text-align: center;
    }
    .footer-link-div {
        margin-bottom: 25px;
        display: unset;
        text-align: center;
    }
    .a-div {
        margin-right: 0px;
        margin-bottom: 20px;
    } 
   
     
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    .hero-form-bg{
        margin-left: 0px;
        width: 100%;
    }
    .hero-heading-div{
        margin-top: 0px;
        margin-left: 0px;
        height: auto; 
        flex-direction: column;
        display: flex;
        /* text-align: center; */
        align-items: center;
        justify-content: unset;
    }
    .hero-heading2{
        font-size: 35px;
        margin-top: 15px;
        margin-bottom: -8px;
       display: block;
    }
    .hero-heading2-sub {
        font-size: 35px;
    }
    .padding{
        padding: 20px 20px 0px 20px;
    }
    .hero-heading3{
        font-size: 78px;
    }
    .hero-heading4{
        font-size: 35px;
    }
    .yellow-section{
        padding: 0px 0px 10px 0px;
    }
    .input-field {
        width: 49% !important;
    }
    .form-imput-margin {
        margin-left: 2%;
    }
    .main-heading h2{
        line-height: 1.1;
    font-size: 24px;
    }
    .border-text{
        font-size: 15px;
        font-weight: 600;
    }
    .yellow-button{
        padding: 14px 26px;
    }
    .forecast-text{
        font-size: 18px;
        text-align: center;
        padding-right: 0px;
    }
    .footer-container{
        text-align: center;
    }
    .footer-link-div {
        margin-bottom: 25px;
        display: unset;
        text-align: center;
    }
    .a-div {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    /* .iti--separate-dial-code input[type=text] {
        width: 71%;
        padding-left: 7px !important;
        float: right !important;
    }  */
    
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {

    .hero-form-bg {
        margin-left: 0px;
        width: 79%;
        margin: 0 auto;
        float: none;
    }
    .hero-heading-div{
        margin-top: 0px;
        margin-left: 0px;
        height: auto; 
        flex-direction: column;
        display: flex;
      
        align-items: center;
        justify-content: unset;
    }
    .hero-heading2{
        font-size: 35px;
        margin-top: 15px;
        margin-bottom: -8px;
    }
    .padding{
        padding: 20px 20px 0px 20px;
    }
    .hero-heading3{
        font-size: 78px;
    }
    .hero-heading4{
        font-size: 35px;
    }
    .yellow-section{
        padding: 0px 0px 10px 0px;
    }
    .main-heading h2{
        line-height: 1.1;
    font-size: 24px;
    }
    .border-text{
        font-size: 15px;
        font-weight: 600;
    }
    .input-field {
        width: 49% !important;
    }
    .form-imput-margin {
        margin-left: 2%;
    }
    .yellow-button{
        padding: 14px 26px;
    }
    .forecast-text{
        font-size: 18px;
        text-align: center;
        padding-right: 0px;
    }
    .footer-container{
        text-align: center;
    }
    .footer-link-div {
        margin-bottom: 25px;
        display: unset;
        text-align: center;
    }
    .a-div {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .iti--separate-dial-code input[type=text] {
        width: 78%;
        padding-left: 7px !important;
        float: right !important;
    }
 }


 /* form*/

@media screen and (min-device-width: 320px) and (max-device-width: 359px) {
    .iti--separate-dial-code input[type=text] {
        width: 68%;
        padding-left: 7px !important;
        float: right !important;
    }
    .iti__arrow {
        margin-left: 0px !important;
    }
    .iti__selected-flag {
        padding: 0 2px 0 2px !important;
    }
 }
 @media screen and (min-device-width: 360px) and (max-device-width: 447px) {
 .iti--separate-dial-code input[type=text] {
    width: 68%;
    padding-left: 7px !important;
    float: right !important;
}
.iti__arrow {
    margin-left: 8px !important;
}
.iti__selected-flag {
    padding: 0 4px 0 4px !important;
}
 }
 @media screen and (min-device-width: 448px) and (max-device-width: 640px) {
    .iti--separate-dial-code input[type=text] {
        width: 76%;
        padding-left: 7px !important;
        float: right !important;
    }
    .iti__arrow {
        margin-left: 8px !important;
    }
    .iti__selected-flag {
        padding: 0 4px 0 4px !important;
    }
 }
 @media screen and (min-device-width: 641px) and (max-device-width: 767px) {
    .iti--separate-dial-code input[type=text] {
        width: 79%;
        padding-left: 7px !important;
        float: right !important;
    }
 }
 @media screen and (min-device-width: 768px) and (max-device-width: 899px) {
    .iti--separate-dial-code input[type=text] {
        width: 78%;
        padding-left: 7px !important;
        float: right !important;
    }
 }
 @media screen and (min-device-width: 900px) and (max-device-width: 991px) {
    .iti--separate-dial-code input[type=text] {
        width: 83%;
        padding-left: 7px !important;
        float: right !important;
    }
 }
 @media screen and (min-device-width: 992px) and (max-device-width: 1024px) {
 .iti__selected-flag {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 3px 0 3px;
}
.iti__arrow {
     margin-left: 0px !important;
}
.iti--separate-dial-code input[type=text] {
    width: 66%;
    padding-left: 7px !important;
    float: right !important;
}
.hero-heading-div{
    
    margin-top: 11rem;
    margin-left: 0px;
    height: auto; 
    flex-direction: column;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}
.hero-heading2{
    font-size: 42px;
    margin-top: 15px;
    margin-bottom: -8px;
   display: block;
}
.hero-heading2-sub {
    font-size: 42px;
}
.yellow-section {
    padding: 10px 0px 10px 0px;
}
.yellow-mt {
    margin-top: 16px;
}
 }
