/* .font{
    font-family: 'Merriweather', serif;
    font-family: 'Magra', sans-serif;
} */
.iti {
    width: 100%;
}
.container{
    max-width: 1120px;
}
body{
    font-size: 16px;
    color: #404040;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}
.main-body-padding{
    padding-bottom: 75px;
}
.bg-img{
    background-image: linear-gradient(rgba(0,0,0,.54),rgba(0,0,0,.54)),url(../image/hero-img.jpg);
    background-size: auto,cover;
    background-color: #161616;
    background-repeat: no-repeat;
    padding-bottom: 17px;
}


.bg-text-top{
    padding-top: 31px;
}
.padding{
    padding: 20px 20px 0px 0px;
}
.hero-heading-div{
    height: 626px;
    margin-left: 2.4rem;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.hero-heading1{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
    color: #fff;
    font-family: merriweather;
    line-height: 1;
    padding-bottom: 10px;
    text-align: center;
}
.hero-heading2{
    font-weight: 700;
    font-size: 38px;
    color: #fff;
    margin-top: 40px;
    line-height: 1;
    margin-bottom: -22px;
    font-family: merriweather;
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 0;
}
.hero-heading2-sub{
    font-size: 42px;
}
.hero-heading3{
    font-size: 130px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
    color: #fff;
    font-family: magra;
    padding-top: 0;
    text-align: center;
}
.hero-heading4{
    font-weight: 700;
    font-size: 70px;
    color: #f90;
    margin-top: 15px;
    line-height: 1;
    margin-bottom: 12px;
    font-family: merriweather;
    text-align: center;
}
.hero-form-bg{
    width: 408px;
    background-color: #fff;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 10px;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,.1);
    /* margin-bottom: 20px; */
    padding-bottom: 8px;
    float: right;
}
.hero-form-heading{
    background-color: #f1f1f1;
    width: 100%;
    margin-bottom: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px;
    font-size: 20px;
    font-family: source sans pro,sans-serif;
    font-weight: 700;
}
.hero-form{
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 5px;
}
.input-field{
    width: 48% !important;
    background: #fff;
    border: 2px solid rgba(0,0,0,.12);
    /* -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px; */
    border-radius: 3px;
    color: rgba(0,0,0,.87);
    display: block;
    font-family: inherit;
    font-size: 16px;
    height: 48px;
    padding: 10px 15px;
    width: 100%;
    outline: 0;
    margin-bottom: 10px;
}
.input-field:hover{
    border: 2px solid rgba(48,63,159,.6) ;
}
.input-field:focus{
    border: 2px solid rgba(48,63,159,.9);
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%) !important;
}
/* .phone-input:focus{
    border: 2px solid rgba(48,63,159,.9);
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%) !important;
} */

.phone-field{
    width: 100%;
    padding-left: 85px;
    border: 2px solid rgba(0,0,0,.12);
    border-radius: 3px;
    color: rgba(0,0,0,.87);
    display: block;
    font-family: inherit;
    font-size: 16px;
    height: 48px;
}
.phone-field:focus{
    border: 2px solid rgba(48,63,159,.9);
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%) !important;
}
.phone-field:hover{
    border: 2px solid rgba(48,63,159,.6) ;
}
.iti__country-name{
    display: none;
}
/* .iti__flag-container:focus{
    border: 2px solid rgba(48,63,159,.9) !important;
} */
.iti__selected-flag:focus{
    outline: rgba(48,63,159,.9) auto 1px  !important;
}
.iti__selected-flag:hover{
    border: 2px solid rgba(48,63,159,.6) ;
}
.iti__arrow {
    margin-left: 25px !important;
    color: rgb(172 172 172) !important;
    /* border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    border-top: 6px solid #888 !important; */
}


.iti {
    width: 100%;
}
.iti--separate-dial-code input[type=text] {
    width: 68%;
    padding-left: 18px !important;
    float: right !important;
}
.iti__selected-flag {
    background-color: rgb(0 0 0 / 0%) !important;
    border: 2px solid rgba(0,0,0,.12);
}

.iti__country-list{
    margin: 0 0 0 0 !important;
}

.phone-group-append {
    margin-left: 0px;
    padding: 6px 0px;
    z-index: 1;
}
.input-icons i { 
    position: absolute; 
} 
.input-icons { 
    margin-bottom: 10px;
    margin-top: -1.5rem; 
   
} 
  
.icon { 
    padding: 10px; 
    min-width: 42px;
    border-left: 1px solid #ced4da; 
    margin-left: -6px;
    color: rgba(0,0,0,.54);
} 
  
.phone-field { 
    width: 100%; 
    padding: 10px;  
} 



.input-group{
    width: 100% !important;
}
.form-imput-margin{
    margin-left: 14px;
}
.input-group-append {
    margin-left: -42px;
    padding: 6px 0px;
    z-index: 1;
}
.input-group-text{
    background-color: unset !important;
    border-left: 1px solid #ced4da !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    color: rgb(172 172 172);
}
.email-margin{
    margin-bottom: 10px !important;
}
.check-input{
    text-align: left;
    line-height: 1;
}
.check-text{
    display: inline !important;
    text-align: left;
    margin-left: 4px;
    color: rgba(0,0,0,.54);
   
   
}
.form-btn{
    border: 0;
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    font-size: 20px;
    margin-top: 10px;
    font-family: arial;
}
.form-p{
    font-size: 16px;
    margin: 20px 0px;
}
.pay-btn{text-align: center;}
.yellow-section{
    background-color: #f90;
    color: #fff;
    font-family: merriweather;
    padding: 10px 1px;
}
.span-number{
    font-weight: 700;
    font-size: 24px;
  
    width: 48px;
    height: 48px;
    text-align: center;
    color: #161616;
    background-color: #fff;
    border-radius: 50%;
    line-height: 46px;
    margin-right: 25px;
    align-items: center;
    justify-content: center;
    float: left;
    margin-top: 8px;
}
.yellow-p{
    font-weight: 700;
    font-size: 18px;
    font-family: merriweather;
    display: flex;
    line-height: 1.2;

}
.yellow-mt{
    margin-top: 22px;
}
.yellow-mt-last{
    margin-top: 11px;
}
.main-heading h2{
   
        margin-bottom: 24px;
        margin-top: 0;
        font-size: 29px;
        font-family: 'Source Sans Pro', sans-serif;
        padding-top: 26px;
        line-height: 1.6;
    
}
.border-div{
    width: 100%;
    border-top-color: #000;
    border-top-width: 1px;
    border-bottom-color: #000;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    padding-top: 25px;
    padding-bottom: 14px;
    margin-bottom: 46px;
}
.border-heading{
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    font-family: merriweather;
}
.border-text{
    font-weight: 400;
    font-size: 22px;
    text-align: left;
    font-family: merriweather;
    margin-top: 1.6rem;
}
.left-right-padding{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.left-side-text{
    font-size: 16.1px;
}
/* right-side*/

.forecast-img{
    margin-bottom: 49px;
    width: 100%;
}
.forecast-text{
    font-size: 24px;
    padding-right: 40px;
    margin-bottom: 54px;
    font-family: merriweather;
    font-weight: 600;
}
.yellow-button{
    background-color: #f90;
    padding: 14px 32px;
    border-radius: 3px;
    margin-bottom: 21px;
    font-weight: 600;
    /* text-align: left; */
    font-family: merriweather;
    font-weight: 600;
    border: none;
}
.yellow-button:hover{
    background-color: #f90 !important;
}
.footer-bg{
    background: #e5e5e5;
    padding: 35px 0 55px;
}
.footer-container{
    max-width: 1270px;
    margin: auto;
    padding: 0 10px;
}
.footer-logo{
    width: 150px;
    margin-bottom: 35px;
}
.footer-link-div{
    margin-bottom: 25px;
    display: flex;
}
.a-div{
    margin-right: 80px;
}
.a-tag{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    text-decoration: none;
    display: block;
}
.a-tag:hover{
    text-decoration: none;
    color: #444;
}
.bottom-text{
    font-size: 12px;
    line-height: 18px;
    color: #000;
}