*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'proxima';
    src: url('./font/proxima_nova_font-webfont.woff') format('woff2'),
         url('./font/proxima_nova_font-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #fff;
    font-family: 'proxima';
}

#background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 60%;
    height: 100%;
    background-color : #c9ab63;
    z-index: 1;
}
.first_header  h2{
    padding: 15px 0;
}
.first_header  h3{
    padding: 10px 0;
}
#content {
    position: relative;
    z-index: 2;
    width: 97%;
    margin: 0 auto;
    margin-bottom: 10px !important;
}

.left_content{
    width: 60%;
    z-index: 5;
    position:relative;
    line-height: 18px;
    
}
.right_content{
    width: 40%;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
}
.first_header{
    background: #fff url('../image/thankyou/1.png') no-repeat center center; 

}
.last_header{
    background:#fff url('../image/thankyou/3.png') no-repeat center center; 
}
.mid_header{
    background:#fff url('../image/thankyou/animation_200_ksrfssyx.gif') no-repeat center center; 
    background-size: 100%;
}
.line_spacing{
    line-height: 21px;
}


.topheader{
    
    width: 110px;
    height: 108px;
    margin: 0px auto;
    border: 5px solid #c9ab63;
    position: relative;
    top: 33px;
    z-index: 10;
    border-radius: 50%;
    
}
.full_div{
    max-width: 200px;
    margin: 0 22px;
}
.mid{
    background: #fff;
    text-align: center;
    padding: 37px 12px;
    border-radius: 20px;
    position: relative;
}
.first_div{
    margin-left: 0 !important;
    margin-top: 66px;
}
.last_div{
    margin-right: 0 !important;
    margin-top: 66px;
}
.number_top{
    border: 4px solid #c9ab63;
    background: #000000;
    color: #fff;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}
.heading_div{
    padding: 68px 50px 40px;
    color: #fff;
    text-align: center;
}
.heading_div h1{
    padding-bottom: 25px;;
}
.heading_div span{
    font-size:17px;
    
}
.top_shild{
    text-align:center;
}
.top_content {
    margin: 0px auto;
    width: 300px;
   
}
.top_content h3{
    text-align: center;
    /* padding-bottom:25px */
}
.check_content{
    width: 255px;
    border-bottom: 1px solid #f1f1f1;
    padding: 25px 0 25px 15px;
    line-height:1.3

}
.check{
    width: 24px;
    padding-top: 25px 
}
@media (min-width: 1366px) and (max-width: 1599px) {
    .three_div_container{
        margin: 0 auto;
    width: 89%;
    }
}
@media (min-width: 1600px) and (max-width: 1820px) {
    .three_div_container{
        margin: 0 auto;
    width: 78%;
    }
}
@media (min-width: 1821px) and (max-width: 1920px) {
    .three_div_container{
        margin: 0 auto;
    width: 67%;
    }
}
@media (min-width: 320px) and (max-width: 479px) {
    #background {
        width: 100%;
        height: 100%;
        background-color : #c9ab63;
        z-index: 1;
    }
 .left_content .fl{
     float:none
 }
 .left_content{
     width: auto;
     float: none;
 }
 .right_content{
    width: auto;
    float: none;

 }
 #content{
     width: auto;
     margin-bottom: 0px !important;
 }
 .heading_div h1{
     line-height:1.5
 }
 .full_div{
     margin:0px auto !important
 }
 .right_top_content{
     background: #fff
 }
 .three_div_container{
     padding-bottom: 50px;
 }
 .heading_div{
     text-align: center;
 }

}
@media (min-width: 480px) and (max-width: 768px) {
    #background {
        width: 100%;
        height: 100%;
        background-color : #c9ab63;
        z-index: 1;
    }
 .left_content .fl{
     float:none
 }
 .left_content{
     width: auto;
     float: none;
 }
 .right_content{
    width: auto;
    float: none;

 }
 #content{
     width: auto;
     margin-bottom: 0px !important;
 }
 .heading_div h1{
     line-height:1.5
 }
 .full_div{
     margin:0px auto !important
 }
 .right_top_content{
     background: #fff
 }
 .three_div_container{
     padding-bottom: 50px;
 }
 .heading_div{
     text-align: center;
 }
}